*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-size: 12px; */
}

* p{
    font-size: 16px;
}

body{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.mensaje{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.nav{
    
    display: flex;
    flex-direction: column;    
    height: 100%;
    width: 25%;
}



.chat{
    border: solid 1px #E8ebe4;
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
   
}




/* Seccion box 1*/

.chat:nth-child(2){
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.box1{
    
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    
}


.foto1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px; 
    width: 70%;
    height: 100%;
    
}

.foto1 img{
    height: 60%;
    width: 20%;
    object-fit: cover;
    border-radius: 1000px;
}

.foto1 aside{
    margin-left: 10px;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100%;
}



/* Seccion de chats (3-10)*/
.box{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.foto{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 35px; 
    width: 100%;
    height: 100%;
       
}

.foto img{
    height: 73%;
    width: 17%;
    object-fit: cover;
    border-radius: 1000px;
}

.foto aside{
    margin-left: 30px;
}




/* Seccion box 2 - boton*/
.chat .btn{
    height: 30%;
    width: 65%;    
    background-color: #A491D2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.chat .btn_chat{
    text-decoration: none;
    color: white;
    font-size: 20PX;
   
    
}
    



/*Seccion de mensajes*/



.bg{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    text-align: center;
    font-size: 24px;
   
   
}

.bg img{
    /* height: 30%; */
    width: 30%;
    object-fit: cover;
    border-radius: 10px;

}

.descripcion{
    width: 100%;
    height: 30px;
    margin-top: 15px;
}

.titulo{
    font-size: 40px;
}